In [1]:
import pandas as pd
import numpy as np
import os
import warnings

# 1. Preprocessing

In [2]:
warnings.filterwarnings("ignore")

In [3]:
flight_dir_2016 = r'2016'
flight_dir_2017 = r'2017'

In [4]:
weather_dir = r"/Weather"

In [5]:
airport_code = ["ATL", "CLT", "DEN", "DFW", "EWR", "IAH", "JFK", "LAS" ,"LAX", "MCO",
               "MIA", "ORD", "PHX", "SEA", "SFO"]

In [6]:
# weather_cols = ['windspeedKmph', 'windirDegree', 'weatherCode', 'percipMM', 'visibilty', 'pressure', 'cloudcover', 'DewPointF', 'WindGustKmph',
#                 'tempF', 'WindChillF', 'humidity', 'date',  'time', 'airport']

In [7]:
flight_cols = ["FlightDate", "Quarter", "Year", "Month", "DayofMonth", "DepTime",
              "DepDel15", "CRSDepTime", "DepDelayMinutes", "OriginAirportID", "DestAirportID",
              "ArrTime", "CRSArrTime", "ArrDel15", "ArrDelayMinutes"]

## Flight data

In [8]:
Folders_2016 = os.listdir(flight_dir_2016)
Folders_2016.sort()
if '.DS_Store' in Folders_2016:
    Folders_2016.remove('.DS_Store')
Folders_2017 = os.listdir(flight_dir_2017)
Folders_2017.sort()
if '.DS_Store' in Folders_2017:
    Folders_2017.remove('.DS_Store')

In [9]:
print(Folders_2016)
print()
print(Folders_2017)

['On_Time_On_Time_Performance_2016_1', 'On_Time_On_Time_Performance_2016_10', 'On_Time_On_Time_Performance_2016_11', 'On_Time_On_Time_Performance_2016_12', 'On_Time_On_Time_Performance_2016_2', 'On_Time_On_Time_Performance_2016_3', 'On_Time_On_Time_Performance_2016_4', 'On_Time_On_Time_Performance_2016_5', 'On_Time_On_Time_Performance_2016_6', 'On_Time_On_Time_Performance_2016_7', 'On_Time_On_Time_Performance_2016_8', 'On_Time_On_Time_Performance_2016_9']

['On_Time_On_Time_Performance_2017_1', 'On_Time_On_Time_Performance_2017_10', 'On_Time_On_Time_Performance_2017_11', 'On_Time_On_Time_Performance_2017_12', 'On_Time_On_Time_Performance_2017_2', 'On_Time_On_Time_Performance_2017_3', 'On_Time_On_Time_Performance_2017_4', 'On_Time_On_Time_Performance_2017_5', 'On_Time_On_Time_Performance_2017_6', 'On_Time_On_Time_Performance_2017_7', 'On_Time_On_Time_Performance_2017_8', 'On_Time_On_Time_Performance_2017_9']

In [10]:
def extract_files(mainDir, Folder):
    files = []
    for i in Folder:
        k = os.listdir(os.path.join(mainDir, i))
        k.sort()
        files.append(k[0])
    files.sort()
    return files

In [11]:
files_2016 = extract_files(flight_dir_2016, Folders_2016)
# files_2016

In [12]:
files_2017 = extract_files(flight_dir_2017, Folders_2017)
# files_2017

Target Rows: 1877296, 15

In [13]:
all_files = []
for i, folder in enumerate(Folders_2016):
    all_files.append(os.path.join(flight_dir_2016, folder, files_2016[i]))
for i, folder in enumerate(Folders_2017):
    all_files.append(os.path.join(flight_dir_2017, folder, files_2017[i])) 
all_files

['2016/On_Time_On_Time_Performance_2016_1/On_Time_On_Time_Performance_2016_1.csv',
 '2016/On_Time_On_Time_Performance_2016_10/On_Time_On_Time_Performance_2016_10.csv',
 '2016/On_Time_On_Time_Performance_2016_11/On_Time_On_Time_Performance_2016_11.csv',
 '2016/On_Time_On_Time_Performance_2016_12/On_Time_On_Time_Performance_2016_12.csv',
 '2016/On_Time_On_Time_Performance_2016_2/On_Time_On_Time_Performance_2016_2.csv',
 '2016/On_Time_On_Time_Performance_2016_3/On_Time_On_Time_Performance_2016_3.csv',
 '2016/On_Time_On_Time_Performance_2016_4/On_Time_On_Time_Performance_2016_4.csv',
 '2016/On_Time_On_Time_Performance_2016_5/On_Time_On_Time_Performance_2016_5.csv',
 '2016/On_Time_On_Time_Performance_2016_6/On_Time_On_Time_Performance_2016_6.csv',
 '2016/On_Time_On_Time_Performance_2016_7/On_Time_On_Time_Performance_2016_7.csv',
 '2016/On_Time_On_Time_Performance_2016_8/On_Time_On_Time_Performance_2016_8.csv',
 '2016/On_Time_On_Time_Performance_2016_9/On_Time_On_Time_Performance_2016_9.csv',
 '2017/On_Time_On_Time_Performance_2017_1/On_Time_On_Time_Performance_2017_1.csv',
 '2017/On_Time_On_Time_Performance_2017_10/On_Time_On_Time_Performance_2017_10.csv',
 '2017/On_Time_On_Time_Performance_2017_11/On_Time_On_Time_Performance_2017_11.csv',
 '2017/On_Time_On_Time_Performance_2017_12/On_Time_On_Time_Performance_2017_12.csv',
 '2017/On_Time_On_Time_Performance_2017_2/On_Time_On_Time_Performance_2017_2.csv',
 '2017/On_Time_On_Time_Performance_2017_3/On_Time_On_Time_Performance_2017_3.csv',
 '2017/On_Time_On_Time_Performance_2017_4/On_Time_On_Time_Performance_2017_4.csv',
 '2017/On_Time_On_Time_Performance_2017_5/On_Time_On_Time_Performance_2017_5.csv',
 '2017/On_Time_On_Time_Performance_2017_6/On_Time_On_Time_Performance_2017_6.csv',
 '2017/On_Time_On_Time_Performance_2017_7/On_Time_On_Time_Performance_2017_7.csv',
 '2017/On_Time_On_Time_Performance_2017_8/On_Time_On_Time_Performance_2017_8.csv',
 '2017/On_Time_On_Time_Performance_2017_9/On_Time_On_Time_Performance_2017_9.csv']

In [14]:
def retrieve_data(files):
    global Main_df
    count = 0
    for file in files:
        data = pd.read_csv(file)
        
#         print( data.shape, end=" ")
        count += data.shape[0]
        data = data[flight_cols+['Origin', 'Dest']]
#         if (data['Origin'].isin(airport_code) & data['Dest'].isin(['ATL'])).any():
#             print('True')
#         print(data.shape, end=" ")
        data = data[(data['Origin'].isin(airport_code)) & (data['Dest'].isin(airport_code))]
        #print(data.shape, " ")
        Main_df = pd.concat([Main_df, data])
        #print(Main_df.shape)
    print(count)

In [15]:
Main_df = pd.DataFrame()
retrieve_data(all_files)

11292279

In [16]:
Main_df.shape

(1877296, 17)

In [17]:
Main_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1877296 entries, 57 to 458711
Data columns (total 17 columns):
 #   Column           Dtype
---  ------           -----
 0   FlightDate       object
 1   Quarter          int64
 2   Year             int64
 3   Month            int64
 4   DayofMonth       int64
 5   DepTime          float64
 6   DepDel15         float64
 7   CRSDepTime       int64
 8   DepDelayMinutes  float64
 9   OriginAirportID  int64
 10  DestAirportID    int64
 11  ArrTime          float64
 12  CRSArrTime       int64
 13  ArrDel15         float64
 14  ArrDelayMinutes  float64
 15  Origin           object
 16  Dest             object
dtypes: float64(6), int64(8), object(3)
memory usage: 257.8+ MB

In [18]:
Df = Main_df.dropna() ## Drop all null values
Df['FlightDate'] = pd.to_datetime(Df['FlightDate']) # Convert object to pandas date type
Df.shape

(1851436, 17)

In [19]:
(23+1) % 24

0

In [20]:
def process_for_flight(x):
    date = x['FlightDate']
    time = x['DepTime']
#     print(type(date))
    time = str(int(time))
    time = time.zfill(4)
    hr, mns = time[:2], time[2:]
    flag = 0
    
    if int(mns) > 30 or hr=='24':  # I could see certain departure time is given as 24:00
        flag = 1
        hr = (int(hr) + 1) % 24

    if flag == 1 and hr == 0:
        one_day = pd.Timedelta(days=1)
        date += one_day
    
    return date, str(hr).zfill(2)

In [21]:
k = Df[['FlightDate','DepTime']].apply(process_for_flight, axis=1)
date = k.apply(lambda x: x[0])
hour = k.apply(lambda x: x[1])

In [22]:
Df['RoundedFlightDate'] = date
Df['DepatHr'] = hour

In [23]:
Df['Delayed'] = np.where(Df['DepDelayMinutes'] > 0, 1, 0)

Skewed data, Data imbalance

In [24]:
Df['ArrDel15'].value_counts()

0.0    1463378
1.0     388058
Name: ArrDel15, dtype: int64

In [25]:
Df['ArrDel15'].shape

(1851436,)

In [26]:
Df = Df[['FlightDate', 'Quarter', 'Year', 'Month', 'DayofMonth', 'DepTime',
       'DepDel15', 'CRSDepTime', 'DepDelayMinutes', 'OriginAirportID',
       'DestAirportID', 'ArrTime', 'CRSArrTime', 'ArrDelayMinutes',
       'Origin', 'Dest', 'RoundedFlightDate', 'DepatHr','ArrDel15', 'Delayed']]

In [27]:
Df.head()

,FlightDate,Quarter,Year,Month,DayofMonth,DepTime,DepDel15,CRSDepTime,DepDelayMinutes,OriginAirportID,DestAirportID,ArrTime,CRSArrTime,ArrDelayMinutes,Origin,Dest,RoundedFlightDate,DepatHr,ArrDel15,Delayed
57,2016-01-01,1,2016,1,1,741.0,0.0,745,0.0,14747,12478,1610.0,1602,8.0,SEA,JFK,2016-01-01,08,0.0,0
58,2016-01-02,1,2016,1,2,737.0,0.0,745,0.0,14747,12478,1613.0,1602,11.0,SEA,JFK,2016-01-02,08,0.0,0
59,2016-01-03,1,2016,1,3,743.0,0.0,745,0.0,14747,12478,1547.0,1602,0.0,SEA,JFK,2016-01-03,08,0.0,0
60,2016-01-04,1,2016,1,4,737.0,0.0,745,0.0,14747,12478,1551.0,1602,0.0,SEA,JFK,2016-01-04,08,0.0,0
61,2016-01-05,1,2016,1,5,708.0,0.0,710,0.0,14747,12478,1524.0,1527,0.0,SEA,JFK,2016-01-05,07,0.0,0

In [28]:
print(f"Number of flights delayed: {Df['Delayed'].value_counts()[1]}, not delayed: {Df['Delayed'].value_counts()[0]}")

Number of flights delayed: 723757, not delayed: 1127679

## Weather data

In [29]:
import json
from pandas import json_normalize
import re

In [30]:
def weather_files(directory):
    reqd_files = []
    Folders = os.listdir(directory)
    if '.DS_Store' in Folders:
        Folders.remove('.DS_Store')
    s = r'201(6|7)-\d{1,2}.json'
    for folder in Folders:
        all_files = os.listdir(os.path.join(directory, folder))
        for file in all_files:
            if re.search(s, file):
                reqd_files.append(os.path.join(directory, folder,file))
    reqd_files.sort()
    return reqd_files

In [31]:
all_weather_files = weather_files('Weather')
# all_weather_files

In [32]:
len(all_weather_files), 15 * 24

(360, 360)

In [33]:
def  merge_all_airports(all_weather_files):
    global Df2
    keys = ['windspeedKmph','winddirDegree', 'weatherCode', 'precipMM',
            'visibility', 'pressure', 'cloudcover', 'DewPointF', 'WindGustKmph',
            'tempF', 'WindChillF', 'humidity', 'time']
    for file in all_weather_files:
        airport = file.split('/')[1]
        #print(airport)
        f = open(file)
        D = json.load(f)
        data = json_normalize(D['data']['weather'])[['hourly', 'date']]
        data['date'] = pd.to_datetime(data['date'])
        data['airport'] = airport
        data = data.explode('hourly').reset_index(drop=True)
        data[keys] = pd.json_normalize(data['hourly'])[keys]
        data.drop(columns=['hourly'], inplace=True)
        Df2 = pd.concat([Df2, data])

In [34]:
Df2 = pd.DataFrame()
merge_all_airports(all_weather_files)

In [35]:
Df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 263160 entries, 0 to 719
Data columns (total 15 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   date           263160 non-null  datetime64[ns]
 1   airport        263160 non-null  object
 2   windspeedKmph  263160 non-null  object
 3   winddirDegree  263160 non-null  object
 4   weatherCode    263160 non-null  object
 5   precipMM       263160 non-null  object
 6   visibility     263160 non-null  object
 7   pressure       263160 non-null  object
 8   cloudcover     263160 non-null  object
 9   DewPointF      263160 non-null  object
 10  WindGustKmph   263160 non-null  object
 11  tempF          263160 non-null  object
 12  WindChillF     263160 non-null  object
 13  humidity       263160 non-null  object
 14  time           263160 non-null  object
dtypes: datetime64[ns](1), object(14)
memory usage: 32.1+ MB

#### To do
- Merge with flight data based on flight departure time and weather time on a particular date

## Merging Flight data with weather

* (np.unique(Df['FlightDate']) == my_range).all() --> Seems like all date is present.

In [36]:
Df.drop_duplicates(inplace=True)

In [37]:
Df_sort = Df.sort_values(['FlightDate', 'DepatHr'])
# Df_sort = Df_sort.set_index('FlightDate')

In [38]:
## Flight Data
Df_sort.head()

,FlightDate,Quarter,Year,Month,DayofMonth,DepTime,DepDel15,CRSDepTime,DepDelayMinutes,OriginAirportID,DestAirportID,ArrTime,CRSArrTime,ArrDelayMinutes,Origin,Dest,RoundedFlightDate,DepatHr,ArrDel15,Delayed
1435,2016-01-01,1,2016,1,1,6.0,1.0,2347,19.0,12889,13303,721.0,714,7.0,LAS,MIA,2016-01-01,00,0.0,1
1497,2016-01-01,1,2016,1,1,6.0,0.0,2359,7.0,12892,13930,559.0,603,0.0,LAX,ORD,2016-01-01,00,0.0,1
4839,2016-01-01,1,2016,1,1,25.0,0.0,30,0.0,12892,13303,810.0,823,0.0,LAX,MIA,2016-01-01,00,0.0,0
8434,2016-01-01,1,2016,1,1,2335.0,0.0,2335,0.0,12889,12478,710.0,730,0.0,LAS,JFK,2016-01-02,00,0.0,0
9989,2016-01-01,1,2016,1,1,29.0,0.0,30,0.0,14771,13303,832.0,850,0.0,SFO,MIA,2016-01-01,00,0.0,0

In [39]:
def process_for_weather(x):
    x = str(int(x))
    #print(x)
    x = x.zfill(4)
    hr = x[:2]
    return  hr

In [40]:
Df2['timeInHr'] = Df2['time'].apply(process_for_weather)

In [41]:
## Weather Data
Df2.head()

,date,airport,windspeedKmph,winddirDegree,weatherCode,precipMM,visibility,pressure,cloudcover,DewPointF,WindGustKmph,tempF,WindChillF,humidity,time,timeInHr
0,2016-01-01,ATL,11,318,176,0.1,10,1023,100,47,17,49,46,91,0,00
1,2016-01-01,ATL,13,317,176,0.0,10,1023,100,44,22,46,42,92,100,01
2,2016-01-01,ATL,14,315,122,0.0,10,1023,100,41,26,43,38,92,200,02
3,2016-01-01,ATL,16,314,122,0.0,10,1023,100,38,30,40,33,93,300,03
4,2016-01-01,ATL,17,314,122,0.0,10,1023,100,38,30,40,33,93,400,04

#### Merging based on 
- Flight date and Departure hour from Df
- data and timeInHr from Df2

In [42]:
Df_sort.shape, Df2.shape

((1851433, 20), (263160, 16))

#### Note:
* When using left join, there will be NaN values(Because of non-availability of Weather data) - Rows: 1556649
    - Two issues:
        1. Certain entries have departure time as  **(24 + 1)%24 = 1**, which is wrong. We should have 00:00 next day date
            - Solution: Should manually deal with if,else condition
            - Around **291 rows**
        2. Entries that have 31/12/2017 and time more than 11:30  is **rounded to 01/01/2018** for which no weather data is present.
            - Solution: Either I have to retrieve weather data of January month or should Discard it.
            - **Only 8 rows** are present
* When using inner join, there will be no NaN values(Because only intersection is taken) - Rows: 1556350

In [43]:
Df3_left = pd.merge(Df_sort, Df2, left_on=['RoundedFlightDate', 'DepatHr', 'Origin'], right_on=['date', 'timeInHr', 'airport'], how='left' )
Df3_left.shape

(1851433, 36)

In [44]:
Df3 = pd.merge(Df_sort, Df2, left_on=['RoundedFlightDate', 'DepatHr', 'Origin'], right_on=['date', 'timeInHr', 'airport'], how='inner' )
Df3.shape

(1851422, 36)

In [45]:
Df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1851422 entries, 0 to 1851421
Data columns (total 36 columns):
 #   Column             Dtype
---  ------             -----
 0   FlightDate         datetime64[ns]
 1   Quarter            int64
 2   Year               int64
 3   Month              int64
 4   DayofMonth         int64
 5   DepTime            float64
 6   DepDel15           float64
 7   CRSDepTime         int64
 8   DepDelayMinutes    float64
 9   OriginAirportID    int64
 10  DestAirportID      int64
 11  ArrTime            float64
 12  CRSArrTime         int64
 13  ArrDelayMinutes    float64
 14  Origin             object
 15  Dest               object
 16  RoundedFlightDate  datetime64[ns]
 17  DepatHr            object
 18  ArrDel15           float64
 19  Delayed            int64
 20  date               datetime64[ns]
 21  airport            object
 22  windspeedKmph      object
 23  winddirDegree      object
 24  weatherCode        object
 25  precipMM           object
 26  visibility         object
 27  pressure           object
 28  cloudcover         object
 29  DewPointF          object
 30  WindGustKmph       object
 31  tempF              object
 32  WindChillF         object
 33  humidity           object
 34  time               object
 35  timeInHr           object
dtypes: datetime64[ns](3), float64(6), int64(9), object(18)
memory usage: 522.6+ MB

In [46]:
Df3.tail()

,FlightDate,Quarter,Year,Month,DayofMonth,DepTime,DepDel15,CRSDepTime,DepDelayMinutes,OriginAirportID,...,visibility,pressure,cloudcover,DewPointF,WindGustKmph,tempF,WindChillF,humidity,time,timeInHr
1851417,2017-12-31,4,2017,12,31,2317.0,1.0,2155,82.0,12478,...,10,1027,0,0,32,10,-7,64,2300,23
1851418,2017-12-31,4,2017,12,31,2247.0,0.0,2255,0.0,12478,...,10,1027,0,0,32,10,-7,64,2300,23
1851419,2017-12-31,4,2017,12,31,2327.0,1.0,2212,75.0,11292,...,10,1038,7,2,13,5,-5,83,2300,23
1851420,2017-12-31,4,2017,12,31,2232.0,1.0,2215,17.0,11292,...,10,1038,7,2,13,5,-5,83,2300,23
1851421,2017-12-31,4,2017,12,31,2250.0,0.0,2251,0.0,11292,...,10,1038,7,2,13,5,-5,83,2300,23

In [47]:
len(Df3_left[Df3_left.isna().any(axis=1)])

11

In [48]:
Df3.to_csv("cleaned_data.csv", index=False)